# Importando Biblioteca Pandas

In [1]:
import pandas as pd

# Extraindo os dados desejados de cada arquivo

## Lista de Circuitos

In [3]:
# Trazendo os Dados para o Dataframe

circuito = pd.read_csv('dados/circuits.csv',encoding = "ISO-8859-1")
circuito.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,NaN,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,NaN,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelÌ_,Spain,41.57000,2.26111,NaN,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,NaN,http://en.wikipedia.org/wiki/Istanbul_Park

In [8]:
## Deste Dataframe eu só vou utilizar 3 colunas: Referência, Nome do Circuito e o País

circuito = circuito[['circuitId','name','country']]
circuito.head()

   circuitId                            name    country
0          1  Albert Park Grand Prix Circuit  Australia
1          2    Sepang International Circuit   Malaysia
2          3   Bahrain International Circuit    Bahrain
3          4  Circuit de Barcelona-Catalunya      Spain
4          5                   Istanbul Park     Turkey

### Vamos relacionar as colunas 'name' e 'country' com a coluna 'circuitId' em dois dicionários diferentes

In [10]:
## Relacionando a coluna 'name' com a coluna 'circuitId' em um dicionário

circ_name = dict([(i,a) for i,a in zip(circuito['circuitId'],circuito['name'])])
circ_name

{1: 'Albert Park Grand Prix Circuit',
 2: 'Sepang International Circuit',
 3: 'Bahrain International Circuit',
 4: 'Circuit de Barcelona-Catalunya',
 5: 'Istanbul Park',
 6: 'Circuit de Monaco',
 7: 'Circuit Gilles Villeneuve',
 8: 'Circuit de Nevers Magny-Cours',
 9: 'Silverstone Circuit',
 10: 'Hockenheimring',
 11: 'Hungaroring',
 12: 'Valencia Street Circuit',
 13: 'Circuit de Spa-Francorchamps',
 14: 'Autodromo Nazionale di Monza',
 15: 'Marina Bay Street Circuit',
 16: 'Fuji Speedway',
 17: 'Shanghai International Circuit',
 18: 'AutÌ_dromo JosÌ© Carlos Pace',
 19: 'Indianapolis Motor Speedway',
 20: 'NÌ_rburgring',
 21: 'Autodromo Enzo e Dino Ferrari',
 22: 'Suzuka Circuit',
 23: 'A1-Ring',
 24: 'Yas Marina Circuit',
 25: 'AutÌ_dromo Juan y Oscar GÌÁlvez',
 26: 'Circuito de Jerez',
 27: 'AutÌ_dromo do Estoril',
 28: 'Okayama International Circuit',
 29: 'Adelaide Street Circuit',
 30: 'Kyalami',
 31: 'Donington Park',
 32: 'AutÌ_dromo Hermanos RodrÌ_guez',
 33: 'Phoenix street circuit',
 34: 'Circuit Paul Ricard',
 35: 'Korean International Circuit',
 36: 'AutÌ_dromo Internacional Nelson Piquet',
 37: 'Detroit Street Circuit',
 38: 'Brands Hatch',
 39: 'Circuit Park Zandvoort',
 40: 'Zolder',
 41: 'Dijon-Prenois',
 42: 'Fair Park',
 43: 'Long Beach',
 44: 'Las Vegas Street Circuit',
 45: 'Jarama',
 46: 'Watkins Glen',
 47: 'Scandinavian Raceway',
 48: 'Mosport International Raceway',
 49: 'MontjuÌøc',
 50: 'Nivelles-Baulers',
 51: 'Charade Circuit',
 52: 'Circuit Mont-Tremblant',
 53: 'Rouen-Les-Essarts',
 54: 'Le Mans',
 55: 'Reims-Gueux',
 56: 'Prince George Circuit',
 57: 'Zeltweg',
 58: 'Aintree',
 59: 'Circuito da Boavista',
 60: 'Riverside International Raceway',
 61: 'AVUS',
 62: 'Monsanto Park Circuit',
 63: 'Sebring International Raceway',
 64: 'Ain Diab',
 65: 'Pescara Circuit',
 66: 'Circuit Bremgarten',
 67: 'Circuit de Pedralbes',
 68: 'Buddh International Circuit',
 69: 'Circuit of the Americas',
 70: 'Red Bull Ring',
 71: 'Sochi Autodrom',
 72: 'Port Imperial Street Circuit',
 73: 'Baku City Circuit'}

In [11]:
## Relacionando a coluna 'country' com a coluna 'circuitId' em um dicionário

circ_pais = dict([(i,a) for i,a in zip(circuito['circuitId'],circuito['country'])])
circ_pais

{1: 'Australia',
 2: 'Malaysia',
 3: 'Bahrain',
 4: 'Spain',
 5: 'Turkey',
 6: 'Monaco',
 7: 'Canada',
 8: 'France',
 9: 'UK',
 10: 'Germany',
 11: 'Hungary',
 12: 'Spain',
 13: 'Belgium',
 14: 'Italy',
 15: 'Singapore',
 16: 'Japan',
 17: 'China',
 18: 'Brazil',
 19: 'USA',
 20: 'Germany',
 21: 'Italy',
 22: 'Japan',
 23: 'Austria',
 24: 'UAE',
 25: 'Argentina',
 26: 'Spain',
 27: 'Portugal',
 28: 'Japan',
 29: 'Australia',
 30: 'South Africa',
 31: 'UK',
 32: 'Mexico',
 33: 'USA',
 34: 'France',
 35: 'Korea',
 36: 'Brazil',
 37: 'USA',
 38: 'UK',
 39: 'Netherlands',
 40: 'Belgium',
 41: 'France',
 42: 'USA',
 43: 'USA',
 44: 'USA',
 45: 'Spain',
 46: 'USA',
 47: 'Sweden',
 48: 'Canada',
 49: 'Spain',
 50: 'Belgium',
 51: 'France',
 52: 'Canada',
 53: 'France',
 54: 'France',
 55: 'France',
 56: 'South Africa',
 57: 'Austria',
 58: 'UK',
 59: 'Portugal',
 60: 'USA',
 61: 'Germany',
 62: 'Portugal',
 63: 'USA',
 64: 'Morocco',
 65: 'Italy',
 66: 'Switzerland',
 67: 'Spain',
 68: 'India',
 69: 'USA',
 70: 'Austria',
 71: 'Russia',
 72: 'USA',
 73: 'Azerbaijan'}

## Lista de Pilotos

In [12]:
pilotos = pd.read_csv('dados/drivers.csv',encoding = "ISO-8859-1")
pilotos.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [14]:
## No caso dos pilotos temos os nomes separados em duas colunas, vamos contatená-las em uma nova coluna para termos o nome completo de cada piloto

pilotos['piloto'] = pilotos['forename'] + ' ' + pilotos['surname']
pilotos.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,piloto
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,Nick Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,Heikki Kovalainen

In [17]:
## Para o dicionário de Pilotos vamos utilizar apenas as colunas 'driverId' e a nova coluna 'piloto' que criamos

pilotos = pilotos[['driverId','piloto']]
pilotos.head()

   driverId             piloto
0         1     Lewis Hamilton
1         2      Nick Heidfeld
2         3       Nico Rosberg
3         4    Fernando Alonso
4         5  Heikki Kovalainen

### Vamos relacionar a coluna 'piloto' com a coluna 'driverId' em um dicionário

In [19]:
## Vamos utilizar uma função diferente da anterior, pois neste caso temos apenas duas colunas

driver = pilotos.set_index('driverId').T.to_dict('list')
driver

{1: ['Lewis Hamilton'],
 2: ['Nick Heidfeld'],
 3: ['Nico Rosberg'],
 4: ['Fernando Alonso'],
 5: ['Heikki Kovalainen'],
 6: ['Kazuki Nakajima'],
 7: ['SÌ©bastien Bourdais'],
 8: ['Kimi RÌ_ikkÌ¦nen'],
 9: ['Robert Kubica'],
 10: ['Timo Glock'],
 11: ['Takuma Sato'],
 12: ['Nelson Piquet Jr.'],
 13: ['Felipe Massa'],
 14: ['David Coulthard'],
 15: ['Jarno Trulli'],
 16: ['Adrian Sutil'],
 17: ['Mark Webber'],
 18: ['Jenson Button'],
 19: ['Anthony Davidson'],
 20: ['Sebastian Vettel'],
 21: ['Giancarlo Fisichella'],
 22: ['Rubens Barrichello'],
 23: ['Ralf Schumacher'],
 24: ['Vitantonio Liuzzi'],
 25: ['Alexander Wurz'],
 26: ['Scott Speed'],
 27: ['Christijan Albers'],
 28: ['Markus Winkelhock'],
 29: ['Sakon Yamamoto'],
 30: ['Michael Schumacher'],
 31: ['Juan Pablo Montoya'],
 32: ['Christian Klien'],
 33: ['Tiago Monteiro'],
 34: ['Yuji Ide'],
 35: ['Jacques Villeneuve'],
 36: ['Franck Montagny'],
 37: ['Pedro de la Rosa'],
 38: ['Robert Doornbos'],
 39: ['Narain Karthikeyan'],
 40: ['Patrick Friesacher'],
 41: ['Ricardo Zonta'],
 42: ['AntÌ«nio Pizzonia'],
 43: ['Cristiano da Matta'],
 44: ['Olivier Panis'],
 45: ['Giorgio Pantano'],
 46: ['Gianmaria Bruni'],
 47: ['Zsolt Baumgartner'],
 48: ['Marc GenÌ©'],
 49: ['Heinz-Harald Frentzen'],
 50: ['Jos Verstappen'],
 51: ['Justin Wilson'],
 52: ['Ralph Firman'],
 53: ['Nicolas Kiesa'],
 54: ['Luciano Burti'],
 55: ['Jean Alesi'],
 56: ['Eddie Irvine'],
 57: ['Mika HÌ_kkinen'],
 58: ['Tarso Marques'],
 59: ['Enrique Bernoldi'],
 60: ['GastÌ_n Mazzacane'],
 61: ['TomÌÁ\x81Á Enge'],
 62: ['Alex Yoong'],
 63: ['Mika Salo'],
 64: ['Pedro Diniz'],
 65: ['Johnny Herbert'],
 66: ['Allan McNish'],
 67: ['SÌ©bastien Buemi'],
 68: ['Toranosuke Takagi'],
 69: ['Luca Badoer'],
 70: ['Alessandro Zanardi'],
 71: ['Damon Hill'],
 72: ['StÌ©phane Sarrazin'],
 73: ['Ricardo Rosset'],
 74: ['Esteban Tuero'],
 75: ['Shinji Nakano'],
 76: ['Jan Magnussen'],
 77: ['Gerhard Berger'],
 78: ['Nicola Larini'],
 79: ['Ukyo Katayama'],
 80: ['Vincenzo Sospiri'],
 81: ['Gianni Morbidelli'],
 82: ['Norberto Fontana'],
 83: ['Pedro Lamy'],
 84: ['Martin Brundle'],
 85: ['Andrea Montermini'],
 86: ['Giovanni Lavaggi'],
 87: ['Mark Blundell'],
 88: ['Aguri Suzuki'],
 89: ['Taki Inoue'],
 90: ['Roberto Moreno'],
 91: ['Karl Wendlinger'],
 92: ['Bertrand Gachot'],
 93: ['Domenico Schiattarella'],
 94: ['Pierluigi Martini'],
 95: ['Nigel Mansell'],
 96: ['Jean-Christophe Boullion'],
 97: ['Massimiliano Papis'],
 98: ['Jean-Denis DÌ©lÌ©traz'],
 99: ['Gabriele Tarquini'],
 100: ['Ìärik Comas'],
 101: ['David Brabham'],
 102: ['Ayrton Senna'],
 103: ['Ìäric Bernard'],
 104: ['Christian Fittipaldi'],
 105: ['Michele Alboreto'],
 106: ['Olivier Beretta'],
 107: ['Roland Ratzenberger'],
 108: ['Paul Belmondo'],
 109: ['Jyrki JÌ_rvilehto'],
 110: ['Andrea de Cesaris'],
 111: ['Jean-Marc Gounon'],
 112: ['Philippe Alliot'],
 113: ['Philippe Adams'],
 114: ['Yannick Dalmas'],
 115: ['Hideki Noda'],
 116: ['Franck Lagorce'],
 117: ['Alain Prost'],
 118: ['Derek Warwick'],
 119: ['Riccardo Patrese'],
 120: ['Fabrizio Barbazza'],
 121: ['Michael Andretti'],
 122: ['Ivan Capelli'],
 123: ['Thierry Boutsen'],
 124: ['Marco Apicella'],
 125: ['Emanuele Naspetti'],
 126: ['Toshio Suzuki'],
 127: ['MaurÌ_cio Gugelmin'],
 128: ['Eric van de Poele'],
 129: ['Olivier Grouillard'],
 130: ['Andrea Chiesa'],
 131: ['Stefano Modena'],
 132: ['Giovanna Amati'],
 133: ['Alex Caffi'],
 134: ['Enrico Bertaggia'],
 135: ['Perry McCarthy'],
 136: ['Jan Lammers'],
 137: ['Nelson Piquet'],
 138: ['Satoru Nakajima'],
 139: ['Emanuele Pirro'],
 140: ['Stefan Johansson'],
 141: ['Julian Bailey'],
 142: ['Pedro Chaves'],
 143: ['Michael Bartels'],
 144: ['Naoki Hattori'],
 145: ['Alessandro Nannini'],
 146: ['Bernd Schneider'],
 147: ['Paolo Barilla'],
 148: ['Gregor Foitek'],
 149: ['Claudio Langes'],
 150: ['Gary Brabham'],
 151: ['Martin Donnelly'],
 152: ['Bruno Giacomelli'],
 153: ['Jaime Alguersuari'],
 154: ['Romain Grosjean'],
 155: ['Kamui Kobayashi'],
 156: ['Jonathan Palmer'],
 157: ['Christian Danner'],
 158: ['Eddie Cheever'],
 159: ['Luis PÌ©rez-Sala'],
 160: ['Piercarlo Ghinzani'],
 161: ['Volker Weidler'],
 162: ['Pierre-Henri Raphanel'],
 163: ['RenÌ© Arnoux'],
 164: ['Joachim Winkelhock'],
 165: ['Oscar Larrauri'],
 166: ['Philippe Streiff'],
 167: ['AdriÌÁn Campos'],
 168: ['Jean-Louis Schlesser'],
 169: ['Pascal Fabre'],
 170: ['Teo Fabi'],
 171: ['Franco Forini'],
 172: ['Jacques Laffite'],
 173: ['Elio de Angelis'],
 174: ['Johnny Dumfries'],
 175: ['Patrick Tambay'],
 176: ['Marc Surer'],
 177: ['Keke Rosberg'],
 178: ['Alan Jones'],
 179: ['Huub Rothengatter'],
 180: ['Allen Berg'],
 181: ['Manfred Winkelhock'],
 182: ['Niki Lauda'],
 183: ['FranÌ¤ois Hesnault'],
 184: ['Mauro Baldi'],
 185: ['Stefan Bellof'],
 186: ['Kenny Acheson'],
 187: ['John Watson'],
 188: ['Johnny Cecotto'],
 189: ['Jo Gartner'],
 190: ['Corrado Fabi'],
 191: ['Mike Thackwell'],
 192: ['Chico Serra'],
 193: ['Danny Sullivan'],
 194: ['Eliseo Salazar'],
 195: ['Roberto Guerrero'],
 196: ['Raul Boesel'],
 197: ['Jean-Pierre Jarier'],
 198: ['Jacques Villeneuve Sr.'],
 199: ['Carlos Reutemann'],
 200: ['Jochen Mass'],
 201: ['Slim Borgudd'],
 202: ['Didier Pironi'],
 203: ['Gilles Villeneuve'],
 204: ['Riccardo Paletti'],
 205: ['Brian Henton'],
 206: ['Derek Daly'],
 207: ['Mario Andretti'],
 208: ['Emilio de Villota'],
 209: ['Geoff Lees'],
 210: ['Tommy Byrne'],
 211: ['Rupert Keegan'],
 212: ['Hector Rebaque'],
 213: ['Beppe Gabbiani'],
 214: ['Kevin Cogan'],
 215: ['Miguel Ì\x81ngel Guerra'],
 216: ['Siegfried Stohr'],
 217: ['Ricardo Zunino'],
 218: ['Ricardo LondoÌ±o'],
 219: ['Jean-Pierre Jabouille'],
 220: ['Giorgio Francia'],
 221: ['Patrick Depailler'],
 222: ['Jody Scheckter'],
 223: ['Clay Regazzoni'],
 224: ['Emerson Fittipaldi'],
 225: ['Dave Kennedy'],
 226: ['Stephen South'],
 227: ['Tiff Needell'],
 228: ['DesirÌ© Wilson'],
 229: ['Harald Ertl'],
 230: ['Vittorio Brambilla'],
 231: ['James Hunt'],
 232: ['Arturo Merzario'],
 233: ['Hans-Joachim Stuck'],
 234: ['Gianfranco Brancatelli'],
 235: ['Jacky Ickx'],
 236: ['Patrick Gaillard'],
 237: ['Alex Ribeiro'],
 238: ['Ronnie Peterson'],
 239: ['Brett Lunger'],
 240: ['Danny Ongais'],
 241: ['Lamberto Leoni'],
 242: ['Divina Galica'],
 243: ['Rolf Stommelen'],
 244: ['Alberto Colombo'],
 245: ['Tony Trimmer'],
 246: ['Hans Binder'],
 247: ['Michael Bleekemolen'],
 248: ['Carlo Franchi'],
 249: ['Bobby Rahal'],
 250: ['Carlos Pace'],
 251: ['Ian Scheckter'],
 252: ['Tom Pryce'],
 253: ['Ingo Hoffmann'],
 254: ['Renzo Zorzi'],
 255: ['Gunnar Nilsson'],
 256: ['Larry Perkins'],
 257: ['Boy Lunger'],
 258: ['Patrick NÌ¬ve'],
 259: ['David Purley'],
 260: ['Conny Andersson'],
 261: ['Bernard de Dryver'],
 262: ['Jackie Oliver'],
 263: ['Mikko Kozarowitzky'],
 264: ['Andy Sutcliffe'],
 265: ['Guy Edwards'],
 266: ['Brian McGuire'],
 267: ['Vern Schuppan'],
 268: ['Hans Heyer'],
 269: ['Teddy Pilette'],
 270: ['Ian Ashley'],
 271: ['Loris Kessel'],
 272: ['Kunimitsu Takahashi'],
 273: ['Kazuyoshi Hoshino'],
 274: ['Noritake Takahara'],
 275: ['Lella Lombardi'],
 276: ['Bob Evans'],
 277: ['Michel LeclÌ¬re'],
 278: ['Chris Amon'],
 279: ['Emilio Zapico'],
 280: ['Henri Pescarolo'],
 281: ['Jac Nelleman'],
 282: ['Damien Magee'],
 283: ['Mike Wilds'],
 284: ['Alessandro Pesenti-Rossi'],
 285: ['Otto Stuppacher'],
 286: ['Warwick Brown'],
 287: ['Masahiro Hasemi'],
 288: ['Mark Donohue'],
 289: ['Graham Hill'],
 290: ['Wilson Fittipaldi'],
 291: ['Guy Tunmer'],
 292: ['Eddie Keizan'],
 293: ['Dave Charlton'],
 294: ['Tony Brise'],
 295: ['Roelof Wunderink'],
 296: ['FranÌ¤ois Migault'],
 297: ['Torsten Palm'],
 298: ['Gijs van Lennep'],
 299: ['Hiroshi Fushida'],
 300: ['John Nicholson'],
 301: ['Dave Morgan'],
 302: ['Jim Crawford'],
 303: ['Jo Vonlanthen'],
 304: ['Denny Hulme'],
 305: ['Mike Hailwood'],
 306: ['Jean-Pierre Beltoise'],
 307: ['Howden Ganley'],
 308: ['Richard Robarts'],
 309: ['Peter Revson'],
 310: ['Paddy Driver'],
 311: ['Tom BelsÌü'],
 312: ['Brian Redman'],
 313: ['Rikky von Opel'],
 314: ['Tim Schenken'],
 315: ['GÌ©rard Larrousse'],
 316: ['Leo Kinnunen'],
 317: ['Reine Wisell'],
 318: ['Bertil Roos'],
 319: ['JosÌ© Dolhem'],
 320: ['Peter Gethin'],
 321: ['Derek Bell'],
 322: ['David Hobbs'],
 323: ['Dieter Quester'],
 324: ['Helmuth Koinigg'],
 325: ['Carlo Facetti'],
 326: ['Eppie Wietzes'],
 327: ['FranÌ¤ois Cevert'],
 328: ['Jackie Stewart'],
 329: ['Mike Beuttler'],
 330: ['Nanni Galli'],
 331: ['Luiz Bueno'],
 332: ['George Follmer'],
 333: ['Andrea de Adamich'],
 334: ['Jackie Pretorius'],
 335: ['Roger Williamson'],
 336: ['Graham McRae'],
 337: ['Helmut Marko'],
 338: ['David Walker'],
 339: ['Alex Soler-Roig'],
 340: ['John Love'],
 341: ['John Surtees'],
 342: ['Skip Barber'],
 343: ['Bill Brack'],
 344: ['Sam Posey'],
 345: ['Pedro RodrÌ_guez'],
 346: ['Jo Siffert'],
 347: ['Jo Bonnier'],
 348: ['FranÌ¤ois Mazet'],
 349: ['Max Jean'],
 350: ['Vic Elford'],
 351: ['Silvio Moser'],
 352: ['George Eaton'],
 353: ['Pete Lovely'],
 354: ['Chris Craft'],
 355: ['John Cannon'],
 356: ['Jack Brabham'],
 357: ['John Miles'],
 358: ['Jochen Rindt'],
 359: ['Johnny Servoz-Gavin'],
 360: ['Bruce McLaren'],
 361: ['Piers Courage'],
 362: ['Peter de Klerk'],
 363: ['Ignazio Giunti'],
 364: ['Dan Gurney'],
 365: ['Hubert Hahne'],
 366: ['Gus Hutchison'],
 367: ['Peter Westbury'],
 368: ['Sam Tingle'],
 369: ['Basil van Rooyen'],
 370: ['Richard Attwood'],
 371: ['Al Pease'],
 372: ['John Cordts'],
 373: ['Jim Clark'],
 374: ['Mike Spence'],
 375: ['Ludovico Scarfiotti'],
 376: ['Lucien Bianchi'],
 377: ['Jo Schlesser'],
 378: ['Robin Widdows'],
 379: ['Kurt Ahrens'],
 380: ['Frank Gardner'],
 381: ['Bobby Unser'],
 382: ['MoisÌ©s Solana'],
 383: ['Bob Anderson'],
 384: ['Luki Botha'],
 385: ['Lorenzo Bandini'],
 386: ['Richie Ginther'],
 387: ['Mike Parkes'],
 388: ['Chris Irwin'],
 389: ['Guy Ligier'],
 390: ['Alan Rees'],
 391: ['Brian Hart'],
 392: ['Mike Fisher'],
 393: ['Tom Jones'],
 394: ['Giancarlo Baghetti'],
 395: ['Jonathan Williams'],
 396: ['Bob Bondurant'],
 397: ['Peter Arundell'],
 398: ['Vic Wilson'],
 399: ['John Taylor'],
 400: ['Chris Lawrence'],
 401: ['Trevor Taylor'],
 402: ['Giacomo Russo'],
 403: ['Phil Hill'],
 404: ['Innes Ireland'],
 405: ['Ronnie Bucknum'],
 406: ['Paul Hawkins'],
 407: ['David Prophet'],
 408: ['Tony Maggs'],
 409: ['Trevor Blokdyk'],
 410: ['Neville Lederle'],
 411: ['Doug Serrurier'],
 412: ['Brausch Niemann'],
 413: ['Ernie Pieterse'],
 414: ['Clive Puzey'],
 415: ['Ray Reed'],
 416: ['David Clapham'],
 417: ['Alex Blignaut'],
 418: ['Masten Gregory'],
 419: ['John Rhodes'],
 420: ['Ian Raby'],
 421: ['Alan Rollinson'],
 422: ['Brian Gubby'],
 423: ['Gerhard Mitter'],
 424: ['Roberto Bussinello'],
 425: ['Nino Vaccarella'],
 426: ['Giorgio Bassi'],
 427: ['Maurice Trintignant'],
 428: ['Bernard Collomb'],
 429: ['AndrÌ© Pilette'],
 430: ['Carel Godin de Beaufort'],
 431: ['Edgar Barth'],
 432: ['MÌÁrio de AraÌ¼jo Cabral'],
 433: ['Walt Hansgen'],
 434: ['Hap Sharp'],
 435: ['Willy Mairesse'],
 436: ['John Campbell-Jones'],
 437: ['Ian Burgess'],
 438: ['Tony Settember'],
 439: ['Nasif EstÌ©fano'],
 440: ['Jim Hall'],
 441: ['Tim Parnell'],
 442: ['Kurt Kuhnke'],
 443: ['Ernesto Brambilla'],
 444: ['Roberto Lippi'],
 445: ['GÌ_nther Seiffert'],
 446: ['Carlo Abate'],
 447: ['Gaetano Starrabba'],
 448: ['Peter Broeker'],
 449: ['Rodger Ward'],
 450: ['Ernie de Vos'],
 451: ['Frank Dochnal'],
 452: ['Thomas Monarch'],
 842: ['Pierre Gasly'],
 453: ['Jackie Lewis'],
 454: ['Ricardo RodrÌ_guez'],
 455: ['Wolfgang Seidel'],
 456: ['Roy Salvadori'],
 457: ['Ben Pon'],
 458: ['Rob Slotemaker'],
 459: ['Tony Marsh'],
 460: ['Gerry Ashmore'],
 461: ['Heinz Schiller'],
 462: ['Colin Davis'],
 463: ['Jay Chamberlain'],
 464: ['Tony Shelly'],
 465: ['Keith Greene'],
 466: ['Heini Walter'],
 467: ['Ernesto Prinoth'],
 468: ['Roger Penske'],
 469: ['Rob Schroeder'],
 470: ['Timmy Mayer'],
 471: ['Bruce Johnstone'],
 472: ['Mike Harris'],
 473: ['Gary Hocking'],
 474: ['Syd van der Vyver'],
 475: ['Stirling Moss'],
 476: ['Wolfgang von Trips'],
 477: ['Cliff Allison'],
 478: ['Hans Herrmann'],
 479: ['Tony Brooks'],
 480: ['Michael May'],
 481: ['Henry Taylor'],
 482: ['Olivier Gendebien'],
 483: ['Giorgio Scarlatti'],
 484: ['Brian Naylor'],
 485: ['Juan Manuel Bordeu'],
 486: ['Jack Fairman'],
 487: ['Massimo Natili'],
 488: ['Peter Monteverdi'],
 489: ['Renato Pirocchi'],
 490: ['Geoff Duke'],
 491: ['Alfonso Thiele'],
 492: ['Menato Boffa'],
 493: ['Peter Ryan'],
 494: ['Lloyd Ruby'],
 495: ['Ken Miles'],
 496: ['Carlos Menditeguy'],
 497: ['Alberto Rodriguez Larreta'],
 498: ['JosÌ© FroilÌÁn GonzÌÁlez'],
 499: ['Roberto Bonomi'],
 500: ['Gino Munaron'],
 501: ['Harry Schell'],
 502: ['Alan Stacey'],
 503: ['Ettore Chimeri'],
 504: ['Antonio Creus'],
 505: ['Chris Bristow'],
 506: ['Bruce Halford'],
 507: ['Chuck Daigh'],
 508: ['Lance Reventlow'],
 509: ['Jim Rathmann'],
 510: ['Paul Goldsmith'],
 511: ['Don Branson'],
 512: ['Johnny Thomson'],
 513: ['Eddie Johnson'],
 514: ['Bob Veith'],
 515: ['Bud Tingelstad'],
 516: ['Bob Christie'],
 517: ['Red Amick'],
 518: ['Duane Carter'],
 519: ['Bill Homeier'],
 520: ['Gene Hartley'],
 521: ['Chuck Stevenson'],
 522: ['Bobby Grim'],
 523: ['Shorty Templeman'],
 524: ['Jim Hurtubise'],
 525: ['Jimmy Bryan'],
 526: ['Troy Ruttman'],
 527: ['Eddie Sachs'],
 528: ['Don Freeland'],
 529: ['Tony Bettenhausen'],
 530: ['Wayne Weiler'],
 531: ['Anthony Foyt'],
 532: ['Eddie Russo'],
 533: ['Johnny Boyd'],
 534: ['Gene Force'],
 535: ['Jim McWithey'],
 536: ['Len Sutton'],
 537: ['Dick Rathmann'],
 538: ['Al Herman'],
 539: ['Dempsey Wilson'],
 540: ['Mike Taylor'],
 541: ['Ron Flockhart'],
 542: ['David Piper'],
 543: ['Giulio Cabianca'],
 544: ['Piero Drogo'],
 545: ['Fred Gamble'],
 546: ['Arthur Owen'],
 547: ['Horace Gould'],
 548: ['Bob Drake'],
 549: ['Ivor Bueb'],
 550: ['Alain de Changy'],
 551: ['Maria de Filippis'],
 552: ['Jean Lucienbonnet'],
 553: ['AndrÌ© Testut'],
 554: ['Jean Behra'],
 555: ['Paul Russo'],
 556: ['Jimmy Daywalt'],
 557: ['Chuck Arnold'],
 558: ['Al Keller'],
 559: ['Pat Flaherty'],
 560: ['Bill Cheesbourg'],
 561: ['Ray Crawford'],
 562: ['Jack Turner'],
 563: ['Chuck Weyant'],
 564: ['Jud Larson'],
 565: ['Mike Magill'],
 566: ['Carroll Shelby'],
 567: ["Fritz d'Orey"],
 568: ['Azdrubal Fontes'],
 569: ['Peter Ashdown'],
 570: ['Bill Moss'],
 571: ['Dennis Taylor'],
 572: ['Harry Blanchard'],
 573: ['Alessandro de Tomaso'],
 574: ['George Constantine'],
 575: ['Bob Said'],
 576: ['Phil Cade'],
 577: ['Luigi Musso'],
 578: ['Mike Hawthorn'],
 579: ['Juan Fangio'],
 580: ['Paco Godia'],
 581: ['Peter Collins'],
 582: ['Ken Kavanagh'],
 583: ['Gerino Gerini'],
 584: ['Bruce Kessler'],
 585: ['Paul Emery'],
 586: ['Luigi Piotti'],
 587: ['Bernie Ecclestone'],
 588: ['Luigi Taramazzo'],
 589: ['Louis Chiron'],
 590: ['Stuart Lewis-Evans'],
 591: ['George Amick'],
 592: ['Jimmy Reece'],
 593: ['Johnnie Parsons'],
 594: ['Johnnie Tolan'],
 595: ['Billy Garrett'],
 596: ['Ed Elisian'],
 597: ["Pat O'Connor"],
 598: ['Jerry Unser'],
 599: ['Art Bisch'],
 600: ['Christian Goethals'],
 601: ['Dick Gibson'],
 602: ['Robert La Caze'],
 603: ['AndrÌ© Guelfi'],
 604: ['FranÌ¤ois Picard'],
 605: ['Tom Bridger'],
 606: ['Alfonso de Portago'],
 607: ['Cesare Perdisa'],
 608: ['Eugenio Castellotti'],
 609: ['AndrÌ© Simon'],
 610: ['Les Leston'],
 611: ['Sam Hanks'],
 612: ['Andy Linden'],
 613: ['Marshall Teague'],
 614: ['Don Edmunds'],
 615: ['Fred Agabashian'],
 616: ['Elmer George'],
 617: ['Mike MacDowel'],
 618: ['Herbert MacKay-Fraser'],
 619: ['Bob Gerard'],
 620: ['Umberto Maglioli'],
 621: ['Paul England'],
 622: ['Chico Landi'],
 623: ['Alberto Uria'],
 624: ['Hernando da Silva Ramos'],
 625: ['Ìälie Bayol'],
 626: ['Robert Manzon'],
 627: ['Louis Rosier'],
 628: ['Bob Sweikert'],
 629: ['Cliff Griffith'],
 630: ['Duke Dinsmore'],
 631: ['Keith Andrews'],
 632: ['Paul FrÌ¬re'],
 633: ['Luigi Villoresi'],
 634: ['Piero Scotti'],
 635: ['Colin Chapman'],
 636: ['Desmond Titterington'],
 637: ['Archie Scott Brown'],
 638: ['Ottorino Volonterio'],
 639: ['AndrÌ© Milhoux'],
 640: ['Toulo de Graffenried'],
 641: ['Piero Taruffi'],
 642: ['Nino Farina'],
 643: ['Roberto Mieres'],
 644: ['Sergio Mantovani'],
 645: ['Clemar Bucci'],
 646: ['JesÌ¼s Iglesias'],
 647: ['Alberto Ascari'],
 648: ['Karl Kling'],
 649: ['Pablo Birger'],
 650: ['Jacques Pollet'],
 651: ['Lance Macklin'],
 652: ['Ted Whiteaway'],
 653: ['Jimmy Davies'],
 654: ['Walt Faulkner'],
 655: ['Cal Niday'],
 656: ['Art Cross'],
 657: ['Bill Vukovich'],
 658: ['Jack McGrath'],
 659: ['Jerry Hoyt'],
 660: ['Johnny Claes'],
 661: ['Peter Walker'],
 662: ['Mike Sparken'],
 663: ['Ken Wharton'],
 664: ['Kenneth McAlpine'],
 665: ['Leslie Marr'],
 666: ['Tony Rolt'],
 667: ['John Fitch'],
 668: ['Jean Lucas'],
 669: ['Prince Bira'],
 670: ['Onofre MarimÌ_n'],
 671: ['Roger Loyer'],
 672: ['Jorge Daponte'],
 673: ['Mike Nazaruk'],
 674: ['Larry Crockett'],
 675: ['Manny Ayulo'],
 676: ['Frank Armi'],
 677: ['Travis Webb'],
 678: ['Len Duncan'],
 679: ['Ernie McCoy'],
 680: ['Jacques Swaters'],
 681: ['Georges Berger'],
 682: ['Don Beauman'],
 683: ['Leslie Thorne'],
 684: ['Bill Whitehouse'],
 685: ['John Riseley-Prichard'],
 686: ['Reg Parnell'],
 687: ['Peter Whitehead'],
 688: ['Eric Brandon'],
 689: ['Alan Brown'],
 690: ['Rodney Nuckey'],
 691: ['Hermann Lang'],
 692: ['Theo Helfrich'],
 693: ['Fred Wacker'],
 694: ['Giovanni de Riu'],
 695: ['Oscar GÌÁlvez'],
 696: ['John Barber'],
 697: ['Felice Bonetto'],
 698: ['Adolfo Cruz'],
 699: ['Duke Nalon'],
 700: ['Carl Scarborough'],
 701: ['Bill Holland'],
 702: ['Bob Scott'],
 703: ['Arthur Legat'],
 704: ['Yves Cabantous'],
 705: ['Tony Crook'],
 706: ['Jimmy Stewart'],
 707: ['Ian Stewart'],
 708: ['Duncan Hamilton'],
 709: ['Ernst Klodwig'],
 710: ['Rudolf Krause'],
 711: ['Oswald Karch'],
 712: ['Willi Heeks'],
 713: ['Theo Fitzau'],
 714: ['Kurt Adolff'],
 715: ['GÌ_nther Bechem'],
 716: ['Erwin Bauer'],
 717: ['Hans von Stuck'],
 718: ['Ernst Loof'],
 719: ['Albert Scherrer'],
 720: ['Max de Terra'],
 721: ['Peter Hirt'],
 722: ['Piero Carini'],
 723: ['Rudi Fischer'],
 724: ['Toni Ulmen'],
 725: ['George Abecassis'],
 726: ['George Connor'],
 727: ['Jim Rigsby'],
 728: ['Joe James'],
 729: ['Bill Schindler'],
 730: ['George Fonder'],
 731: ['Henry Banks'],
 732: ['Johnny McDowell'],
 733: ['Chet Miller'],
 734: ['Bobby Ball'],
 735: ['Charles de Tornaco'],
 736: ['Roger Laurent'],
 737: ["Robert O'Brien"],
 738: ['Tony Gaze'],
 739: ['Robin Montgomerie-Charrington'],
 740: ['Franco Comotti'],
 741: ['Philippe Ìätancelin'],
 742: ['Dennis Poore'],
 743: ['Eric Thompson'],
 744: ['Ken Downing'],
 745: ['Graham Whitehead'],
 746: ['Gino Bianco'],
 747: ['David Murray'],
 748: ['Eitel Cantoni'],
 749: ['Bill Aston'],
 750: ['Adolf Brudes'],
 751: ['Fritz Riess'],
 752: ['Helmut Niedermayr'],
 753: ['Hans Klenk'],
 754: ['Marcel Balsa'],
 755: ['Rudolf Schoeller'],
 756: ['Paul Pietsch'],
 757: ['Josef Peters'],
 758: ['Dries van der Lof'],
 759: ['Jan Flinterman'],
 760: ['Piero Dusio'],
 761: ['Alberto Crespo'],
 762: ['Franco Rol'],
 763: ['Consalvo Sanesi'],
 764: ['Guy Mairesse'],
 765: ['Henri Louveau'],
 766: ['Lee Wallard'],
 767: ['Carl Forberg'],
 768: ['Mauri Rose'],
 769: ['Bill Mackey'],
 770: ['Cecil Green'],
 771: ['Walt Brown'],
 772: ['Mack Hellings'],
 773: ['Pierre Levegh'],
 774: ['EugÌ¬ne Chaboud'],
 775: ['Aldo Gordini'],
 776: ['Joe Kelly'],
 777: ['Philip Fotheringham-Parker'],
 778: ['Brian Shawe Taylor'],
 779: ['John James'],
 780: ['Toni Branca'],
 781: ['Ken Richardson'],
 782: ['Juan Jover'],
 783: ['Georges Grignard'],
 784: ['David Hampshire'],
 785: ['Geoff Crossley'],
 786: ['Luigi Fagioli'],
 787: ['Cuth Harrison'],
 788: ['Joe Fry'],
 789: ['EugÌ¬ne Martin'],
 790: ['Leslie Johnson'],
 791: ['Clemente Biondetti'],

## Lista de Corridas

In [20]:
corridas = pd.read_csv('dados/races.csv')
corridas.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [21]:
## Para este dicionário vamos utilizar apenas as colunas 'raceId', 'year' e 'circuitId'

corridas = corridas[['raceId','year','circuitId']]
corridas.head()

   raceId  year  circuitId
0       1  2009          1
1       2  2009          2
2       3  2009         17
3       4  2009          3
4       5  2009          4

### Vamos relacionar as colunas 'year' e 'circuitId' com a coluna 'raceId' em dois dicionários diferentes

In [23]:
## Relacionando a coluna 'year' com a coluna 'raceId' em um dicionário

race_year = dict([(i,a) for i,a in zip(corridas['raceId'],corridas['year'])])
race_year

{1: 2009,
 2: 2009,
 3: 2009,
 4: 2009,
 5: 2009,
 6: 2009,
 7: 2009,
 8: 2009,
 9: 2009,
 10: 2009,
 11: 2009,
 12: 2009,
 13: 2009,
 14: 2009,
 15: 2009,
 16: 2009,
 17: 2009,
 18: 2008,
 19: 2008,
 20: 2008,
 21: 2008,
 22: 2008,
 23: 2008,
 24: 2008,
 25: 2008,
 26: 2008,
 27: 2008,
 28: 2008,
 29: 2008,
 30: 2008,
 31: 2008,
 32: 2008,
 33: 2008,
 34: 2008,
 35: 2008,
 36: 2007,
 37: 2007,
 38: 2007,
 39: 2007,
 40: 2007,
 41: 2007,
 42: 2007,
 43: 2007,
 44: 2007,
 45: 2007,
 46: 2007,
 47: 2007,
 48: 2007,
 49: 2007,
 50: 2007,
 51: 2007,
 52: 2007,
 53: 2006,
 54: 2006,
 55: 2006,
 56: 2006,
 57: 2006,
 58: 2006,
 59: 2006,
 60: 2006,
 61: 2006,
 62: 2006,
 63: 2006,
 64: 2006,
 65: 2006,
 66: 2006,
 67: 2006,
 68: 2006,
 69: 2006,
 70: 2006,
 71: 2005,
 72: 2005,
 73: 2005,
 74: 2005,
 75: 2005,
 76: 2005,
 77: 2005,
 78: 2005,
 79: 2005,
 80: 2005,
 81: 2005,
 82: 2005,
 83: 2005,
 84: 2005,
 85: 2005,
 86: 2005,
 87: 2005,
 88: 2005,
 89: 2005,
 90: 2004,
 91: 2004,
 92: 2004,
 93: 2004,
 94: 2004,
 95: 2004,
 96: 2004,
 97: 2004,
 98: 2004,
 99: 2004,
 100: 2004,
 101: 2004,
 102: 2004,
 103: 2004,
 104: 2004,
 105: 2004,
 106: 2004,
 107: 2004,
 108: 2003,
 109: 2003,
 110: 2003,
 111: 2003,
 112: 2003,
 113: 2003,
 114: 2003,
 115: 2003,
 116: 2003,
 117: 2003,
 118: 2003,
 119: 2003,
 120: 2003,
 121: 2003,
 122: 2003,
 123: 2003,
 124: 2002,
 125: 2002,
 126: 2002,
 127: 2002,
 128: 2002,
 129: 2002,
 130: 2002,
 131: 2002,
 132: 2002,
 133: 2002,
 134: 2002,
 135: 2002,
 136: 2002,
 137: 2002,
 138: 2002,
 139: 2002,
 140: 2002,
 141: 2001,
 142: 2001,
 143: 2001,
 144: 2001,
 145: 2001,
 146: 2001,
 147: 2001,
 148: 2001,
 149: 2001,
 150: 2001,
 151: 2001,
 152: 2001,
 153: 2001,
 154: 2001,
 155: 2001,
 156: 2001,
 157: 2001,
 158: 2000,
 159: 2000,
 160: 2000,
 161: 2000,
 162: 2000,
 163: 2000,
 164: 2000,
 165: 2000,
 166: 2000,
 167: 2000,
 168: 2000,
 169: 2000,
 170: 2000,
 171: 2000,
 172: 2000,
 173: 2000,
 174: 2000,
 175: 1999,
 176: 1999,
 177: 1999,
 178: 1999,
 179: 1999,
 180: 1999,
 181: 1999,
 182: 1999,
 183: 1999,
 184: 1999,
 185: 1999,
 186: 1999,
 187: 1999,
 188: 1999,
 189: 1999,
 190: 1999,
 191: 1998,
 192: 1998,
 193: 1998,
 194: 1998,
 195: 1998,
 196: 1998,
 197: 1998,
 198: 1998,
 199: 1998,
 200: 1998,
 201: 1998,
 202: 1998,
 203: 1998,
 204: 1998,
 205: 1998,
 206: 1998,
 207: 1997,
 208: 1997,
 209: 1997,
 210: 1997,
 211: 1997,
 212: 1997,
 213: 1997,
 214: 1997,
 215: 1997,
 216: 1997,
 217: 1997,
 218: 1997,
 219: 1997,
 220: 1997,
 221: 1997,
 222: 1997,
 223: 1997,
 224: 1996,
 225: 1996,
 226: 1996,
 227: 1996,
 228: 1996,
 229: 1996,
 230: 1996,
 231: 1996,
 232: 1996,
 233: 1996,
 234: 1996,
 235: 1996,
 236: 1996,
 237: 1996,
 238: 1996,
 239: 1996,
 240: 1995,
 241: 1995,
 242: 1995,
 243: 1995,
 244: 1995,
 245: 1995,
 246: 1995,
 247: 1995,
 248: 1995,
 249: 1995,
 250: 1995,
 251: 1995,
 252: 1995,
 253: 1995,
 254: 1995,
 255: 1995,
 256: 1995,
 257: 1994,
 258: 1994,
 259: 1994,
 260: 1994,
 261: 1994,
 262: 1994,
 263: 1994,
 264: 1994,
 265: 1994,
 266: 1994,
 267: 1994,
 268: 1994,
 269: 1994,
 270: 1994,
 271: 1994,
 272: 1994,
 273: 1993,
 274: 1993,
 275: 1993,
 276: 1993,
 277: 1993,
 278: 1993,
 279: 1993,
 280: 1993,
 281: 1993,
 282: 1993,
 283: 1993,
 284: 1993,
 285: 1993,
 286: 1993,
 287: 1993,
 288: 1993,
 289: 1992,
 290: 1992,
 291: 1992,
 292: 1992,
 293: 1992,
 294: 1992,
 295: 1992,
 296: 1992,
 297: 1992,
 298: 1992,
 299: 1992,
 300: 1992,
 301: 1992,
 302: 1992,
 303: 1992,
 304: 1992,
 305: 1991,
 306: 1991,
 307: 1991,
 308: 1991,
 309: 1991,
 310: 1991,
 311: 1991,
 312: 1991,
 313: 1991,
 314: 1991,
 315: 1991,
 316: 1991,
 317: 1991,
 318: 1991,
 319: 1991,
 320: 1991,
 321: 1990,
 322: 1990,
 323: 1990,
 324: 1990,
 325: 1990,
 326: 1990,
 327: 1990,
 328: 1990,
 329: 1990,
 330: 1990,
 331: 1990,
 332: 1990,
 333: 1990,
 334: 1990,
 335: 1990,
 336: 1990,
 337: 2010,
 338: 2010,
 339: 2010,
 340: 2010,
 341: 2010,
 342: 2010,
 343: 2010,
 344: 2010,
 345: 2010,
 346: 2010,
 347: 2010,
 348: 2010,
 349: 2010,
 350: 2010,
 351: 2010,
 352: 2010,
 353: 2010,
 354: 2010,
 355: 2010,
 356: 1989,
 357: 1989,
 358: 1989,
 359: 1989,
 360: 1989,
 361: 1989,
 362: 1989,
 363: 1989,
 364: 1989,
 365: 1989,
 366: 1989,
 367: 1989,
 368: 1989,
 369: 1989,
 370: 1989,
 371: 1989,
 372: 1988,
 373: 1988,
 374: 1988,
 375: 1988,
 376: 1988,
 377: 1988,
 378: 1988,
 379: 1988,
 380: 1988,
 381: 1988,
 382: 1988,
 383: 1988,
 384: 1988,
 385: 1988,
 386: 1988,
 387: 1988,
 388: 1987,
 389: 1987,
 390: 1987,
 391: 1987,
 392: 1987,
 393: 1987,
 394: 1987,
 395: 1987,
 396: 1987,
 397: 1987,
 398: 1987,
 399: 1987,
 400: 1987,
 401: 1987,
 402: 1987,
 403: 1987,
 404: 1986,
 405: 1986,
 406: 1986,
 407: 1986,
 408: 1986,
 409: 1986,
 410: 1986,
 411: 1986,
 412: 1986,
 413: 1986,
 414: 1986,
 415: 1986,
 416: 1986,
 417: 1986,
 418: 1986,
 419: 1986,
 420: 1985,
 421: 1985,
 422: 1985,
 423: 1985,
 424: 1985,
 425: 1985,
 426: 1985,
 427: 1985,
 428: 1985,
 429: 1985,
 430: 1985,
 431: 1985,
 432: 1985,
 433: 1985,
 434: 1985,
 435: 1985,
 436: 1984,
 437: 1984,
 438: 1984,
 439: 1984,
 440: 1984,
 441: 1984,
 442: 1984,
 443: 1984,
 444: 1984,
 445: 1984,
 446: 1984,
 447: 1984,
 448: 1984,
 449: 1984,
 450: 1984,
 451: 1984,
 452: 1983,
 453: 1983,
 454: 1983,
 455: 1983,
 456: 1983,
 457: 1983,
 458: 1983,
 459: 1983,
 460: 1983,
 461: 1983,
 462: 1983,
 463: 1983,
 464: 1983,
 465: 1983,
 466: 1983,
 467: 1982,
 468: 1982,
 469: 1982,
 470: 1982,
 471: 1982,
 472: 1982,
 473: 1982,
 474: 1982,
 475: 1982,
 476: 1982,
 477: 1982,
 478: 1982,
 479: 1982,
 480: 1982,
 481: 1982,
 482: 1982,
 483: 1981,
 484: 1981,
 485: 1981,
 486: 1981,
 487: 1981,
 488: 1981,
 489: 1981,
 490: 1981,
 491: 1981,
 492: 1981,
 493: 1981,
 494: 1981,
 495: 1981,
 496: 1981,
 497: 1981,
 498: 1980,
 499: 1980,
 500: 1980,
 501: 1980,
 502: 1980,
 503: 1980,
 504: 1980,
 505: 1980,
 506: 1980,
 507: 1980,
 508: 1980,
 509: 1980,
 510: 1980,
 511: 1980,
 512: 1979,
 513: 1979,
 514: 1979,
 515: 1979,
 516: 1979,
 517: 1979,
 518: 1979,
 519: 1979,
 520: 1979,
 521: 1979,
 522: 1979,
 523: 1979,
 524: 1979,
 525: 1979,
 526: 1979,
 527: 1978,
 528: 1978,
 529: 1978,
 530: 1978,
 531: 1978,
 532: 1978,
 533: 1978,
 534: 1978,
 535: 1978,
 536: 1978,
 537: 1978,
 538: 1978,
 539: 1978,
 540: 1978,
 541: 1978,
 542: 1978,
 543: 1977,
 544: 1977,
 545: 1977,
 546: 1977,
 547: 1977,
 548: 1977,
 549: 1977,
 550: 1977,
 551: 1977,
 552: 1977,
 553: 1977,
 554: 1977,
 555: 1977,
 556: 1977,
 557: 1977,
 558: 1977,
 559: 1977,
 560: 1976,
 561: 1976,
 562: 1976,
 563: 1976,
 564: 1976,
 565: 1976,
 566: 1976,
 567: 1976,
 568: 1976,
 569: 1976,
 570: 1976,
 571: 1976,
 572: 1976,
 573: 1976,
 574: 1976,
 575: 1976,
 576: 1975,
 577: 1975,
 578: 1975,
 579: 1975,
 580: 1975,
 581: 1975,
 582: 1975,
 583: 1975,
 584: 1975,
 585: 1975,
 586: 1975,
 587: 1975,
 588: 1975,
 589: 1975,
 590: 1974,
 591: 1974,
 592: 1974,
 593: 1974,
 594: 1974,
 595: 1974,
 596: 1974,
 597: 1974,
 598: 1974,
 599: 1974,
 600: 1974,
 601: 1974,
 602: 1974,
 603: 1974,
 604: 1974,
 605: 1973,
 606: 1973,
 607: 1973,
 608: 1973,
 609: 1973,
 610: 1973,
 611: 1973,
 612: 1973,
 613: 1973,
 614: 1973,
 615: 1973,
 616: 1973,
 617: 1973,
 618: 1973,
 619: 1973,
 620: 1972,
 621: 1972,
 622: 1972,
 623: 1972,
 624: 1972,
 625: 1972,
 626: 1972,
 627: 1972,
 628: 1972,
 629: 1972,
 630: 1972,
 631: 1972,
 632: 1971,
 633: 1971,
 634: 1971,
 635: 1971,
 636: 1971,
 637: 1971,
 638: 1971,
 639: 1971,
 640: 1971,
 641: 1971,
 642: 1971,
 643: 1970,
 644: 1970,
 645: 1970,
 646: 1970,
 647: 1970,
 648: 1970,
 649: 1970,
 650: 1970,
 651: 1970,
 652: 1970,
 653: 1970,
 654: 1970,
 655: 1970,
 656: 1969,
 657: 1969,
 658: 1969,
 659: 1969,
 660: 1969,
 661: 1969,
 662: 1969,
 663: 1969,
 664: 1969,
 665: 1969,
 666: 1969,
 667: 1968,
 668: 1968,
 669: 1968,
 670: 1968,
 671: 1968,
 672: 1968,
 673: 1968,
 674: 1968,
 675: 1968,
 676: 1968,
 677: 1968,
 678: 1968,
 679: 1967,
 680: 1967,
 681: 1967,
 682: 1967,
 683: 1967,
 684: 1967,
 685: 1967,
 686: 1967,
 687: 1967,
 688: 1967,
 689: 1967,
 690: 1966,
 691: 1966,
 692: 1966,
 693: 1966,
 694: 1966,
 695: 1966,
 696: 1966,
 697: 1966,
 698: 1966,
 699: 1965,
 700: 1965,
 701: 1965,
 702: 1965,
 703: 1965,
 704: 1965,
 705: 1965,
 706: 1965,
 707: 1965,
 708: 1965,
 709: 1964,
 710: 1964,
 711: 1964,
 712: 1964,
 713: 1964,
 714: 1964,
 715: 1964,
 716: 1964,
 717: 1964,
 718: 1964,
 719: 1963,
 720: 1963,
 721: 1963,
 722: 1963,
 723: 1963,
 724: 1963,
 725: 1963,
 726: 1963,
 727: 1963,
 728: 1963,
 729: 1962,
 730: 1962,
 731: 1962,
 732: 1962,
 733: 1962,
 734: 1962,
 735: 1962,
 736: 1962,
 737: 1962,
 738: 1961,
 739: 1961,
 740: 1961,
 741: 1961,
 742: 1961,
 743: 1961,
 744: 1961,
 745: 1961,
 746: 1960,
 747: 1960,
 748: 1960,
 749: 1960,
 750: 1960,
 751: 1960,
 752: 1960,
 753: 1960,
 754: 1960,
 755: 1960,
 756: 1959,
 757: 1959,
 758: 1959,
 759: 1959,
 760: 1959,
 761: 1959,
 762: 1959,
 763: 1959,
 764: 1959,
 765: 1958,
 766: 1958,
 767: 1958,
 768: 1958,
 769: 1958,
 770: 1958,
 771: 1958,
 772: 1958,
 773: 1958,
 774: 1958,
 775: 1958,
 776: 1957,
 777: 1957,
 778: 1957,
 779: 1957,
 780: 1957,
 781: 1957,
 782: 1957,
 783: 1957,
 784: 1956,
 785: 1956,
 786: 1956,
 787: 1956,
 788: 1956,
 789: 1956,
 790: 1956,
 791: 1956,
 792: 1955,
 793: 1955,
 794: 1955,
 795: 1955,
 796: 1955,
 797: 1955,
 798: 1955,
 799: 1954,
 800: 1954,
 801: 1954,
 802: 1954,
 803: 1954,
 804: 1954,
 805: 1954,
 806: 1954,
 807: 1954,
 808: 1953,
 809: 1953,
 810: 1953,
 811: 1953,
 812: 1953,
 813: 1953,
 814: 1953,
 815: 1953,
 816: 1953,
 817: 1952,
 818: 1952,
 819: 1952,
 820: 1952,
 821: 1952,
 822: 1952,
 823: 1952,
 824: 1952,
 825: 1951,
 826: 1951,
 827: 1951,
 828: 1951,
 829: 1951,
 830: 1951,
 831: 1951,
 832: 1951,
 833: 1950,
 834: 1950,
 835: 1950,
 836: 1950,
 837: 1950,
 838: 1950,
 839: 1950,
 841: 2011,
 842: 2011,
 843: 2011,
 844: 2011,
 845: 2011,
 846: 2011,
 847: 2011,
 848: 2011,
 849: 2011,
 850: 2011,
 851: 2011,
 852: 2011,
 853: 2011,
 854: 2011,
 855: 2011,
 856: 2011,
 857: 2011,
 858: 2011,
 859: 2011,
 860: 2012,
 861: 2012,
 862: 2012,
 863: 2012,
 864: 2012,
 865: 2012,
 866: 2012,
 867: 2012,
 868: 2012,
 869: 2012,
 870: 2012,
 871: 2012,
 872: 2012,
 873: 2012,
 874: 2012,
 875: 2012,
 876: 2012,
 877: 2012,
 878: 2012,
 879: 2012,
 880: 2013,
 881: 2013,
 882: 2013,
 883: 2013,
 884: 2013,
 885: 2013,
 886: 2013,
 887: 2013,
 888: 2013,
 890: 2013,
 891: 2013,
 892: 2013,
 893: 2013,
 894: 2013,
 895: 2013,
 896: 2013,
 897: 2013,
 898: 2013,
 899: 2013,
 900: 2014,
 901: 2014,
 902: 2014,
 903: 2014,
 904: 2014,
 905: 2014,
 906: 2014,
 907: 2014,
 908: 2014,
 909: 2014,
 910: 2014,
 911: 2014,
 912: 2014,
 913: 2014,
 914: 2014,
 915: 2014,
 916: 2014,
 917: 2014,
 918: 2014,
 931: 2015,
 932: 2015,
 929: 2015,
 930: 2015,
 928: 2015,
 926: 2015,
 927: 2015,
 933: 2015,
 934: 2015,
 936: 2015,
 937: 2015,
 938: 2015,
 939: 2015,
 940: 2015,
 941: 2015,
 942: 2015,
 943: 2015,
 944: 2015,
 945: 2015,
 948: 2016,
 949: 2016,
 950: 2016,
 951: 2016,
 952: 2016,
 953: 2016,
 954: 2016,
 955: 2016,
 956: 2016,
 957: 2016,
 958: 2016,
 959: 2016,
 960: 2016,
 961: 2016,
 962: 2016,
 963: 2016,
 964: 2016,
 965: 2016,
 966: 2016,
 967: 2016,
 968: 2016,
 969: 2017,
 970: 2017,
 971: 2017,
 972: 2017,
 973: 2017,
 974: 2017,
 975: 2017,
 976: 2017,
 977: 2017,
 978: 2017,
 979: 2017,
 980: 2017,
 981: 2017,
 982: 2017,
 983: 2017,
 984: 2017,
 985: 2017,
 986: 2017,
 987: 2017,
 988: 2017,
 989: 2018,
 990: 2018,
 991: 2018,
 992: 2018,
 993: 2018,
 994: 2018,
 995: 2018,
 996: 2018,
 997: 2018,
 998: 2018,
 999: 2018,
 1000: 2018,
 1001: 2018,
 1002: 2018,
 1003: 2018,
 1004: 2018,
 1005: 2018,
 1006: 2018,
 1007: 2018,
 1008: 2018,
 1009: 2018}

In [24]:
## Relacionando a coluna 'circuitId' com a coluna 'raceId' em um dicionário

race_circ = dict([(i,a) for i,a in zip(corridas['raceId'],corridas['circuitId'])])
race_circ

{1: 1,
 2: 2,
 3: 17,
 4: 3,
 5: 4,
 6: 6,
 7: 5,
 8: 9,
 9: 20,
 10: 11,
 11: 12,
 12: 13,
 13: 14,
 14: 15,
 15: 22,
 16: 18,
 17: 24,
 18: 1,
 19: 2,
 20: 3,
 21: 4,
 22: 5,
 23: 6,
 24: 7,
 25: 8,
 26: 9,
 27: 10,
 28: 11,
 29: 12,
 30: 13,
 31: 14,
 32: 15,
 33: 16,
 34: 17,
 35: 18,
 36: 1,
 37: 2,
 38: 3,
 39: 4,
 40: 6,
 41: 7,
 42: 19,
 43: 8,
 44: 9,
 45: 20,
 46: 11,
 47: 5,
 48: 14,
 49: 13,
 50: 16,
 51: 17,
 52: 18,
 53: 3,
 54: 2,
 55: 1,
 56: 21,
 57: 20,
 58: 4,
 59: 6,
 60: 9,
 61: 7,
 62: 19,
 63: 8,
 64: 10,
 65: 11,
 66: 5,
 67: 14,
 68: 17,
 69: 22,
 70: 18,
 71: 1,
 72: 2,
 73: 3,
 74: 21,
 75: 4,
 76: 6,
 77: 20,
 78: 7,
 79: 19,
 80: 8,
 81: 9,
 82: 10,
 83: 11,
 84: 5,
 85: 14,
 86: 13,
 87: 18,
 88: 22,
 89: 17,
 90: 1,
 91: 2,
 92: 3,
 93: 21,
 94: 4,
 95: 6,
 96: 20,
 97: 7,
 98: 19,
 99: 8,
 100: 9,
 101: 10,
 102: 11,
 103: 13,
 104: 14,
 105: 17,
 106: 22,
 107: 18,
 108: 1,
 109: 2,
 110: 18,
 111: 21,
 112: 4,
 113: 23,
 114: 6,
 115: 7,
 116: 20,
 117: 8,
 118: 9,
 119: 10,
 120: 11,
 121: 14,
 122: 19,
 123: 22,
 124: 1,
 125: 2,
 126: 18,
 127: 21,
 128: 4,
 129: 23,
 130: 6,
 131: 7,
 132: 20,
 133: 9,
 134: 8,
 135: 10,
 136: 11,
 137: 13,
 138: 14,
 139: 19,
 140: 22,
 141: 1,
 142: 2,
 143: 18,
 144: 21,
 145: 4,
 146: 23,
 147: 6,
 148: 7,
 149: 20,
 150: 8,
 151: 9,
 152: 10,
 153: 11,
 154: 13,
 155: 14,
 156: 19,
 157: 22,
 158: 1,
 159: 18,
 160: 21,
 161: 9,
 162: 4,
 163: 20,
 164: 6,
 165: 7,
 166: 8,
 167: 23,
 168: 10,
 169: 11,
 170: 13,
 171: 14,
 172: 19,
 173: 22,
 174: 2,
 175: 1,
 176: 18,
 177: 21,
 178: 6,
 179: 4,
 180: 7,
 181: 8,
 182: 9,
 183: 23,
 184: 10,
 185: 11,
 186: 13,
 187: 14,
 188: 20,
 189: 2,
 190: 22,
 191: 1,
 192: 18,
 193: 25,
 194: 21,
 195: 4,
 196: 6,
 197: 7,
 198: 8,
 199: 9,
 200: 23,
 201: 10,
 202: 11,
 203: 13,
 204: 14,
 205: 20,
 206: 22,
 207: 1,
 208: 18,
 209: 25,
 210: 21,
 211: 6,
 212: 4,
 213: 7,
 214: 8,
 215: 9,
 216: 10,
 217: 11,
 218: 13,
 219: 14,
 220: 23,
 221: 20,
 222: 22,
 223: 26,
 224: 1,
 225: 18,
 226: 25,
 227: 20,
 228: 21,
 229: 6,
 230: 4,
 231: 7,
 232: 8,
 233: 9,
 234: 10,
 235: 11,
 236: 13,
 237: 14,
 238: 27,
 239: 22,
 240: 18,
 241: 25,
 242: 21,
 243: 4,
 244: 6,
 245: 7,
 246: 8,
 247: 9,
 248: 10,
 249: 11,
 250: 13,
 251: 14,
 252: 27,
 253: 20,
 254: 28,
 255: 22,
 256: 29,
 257: 18,
 258: 28,
 259: 21,
 260: 6,
 261: 4,
 262: 7,
 263: 8,
 264: 9,
 265: 10,
 266: 11,
 267: 13,
 268: 14,
 269: 27,
 270: 26,
 271: 22,
 272: 29,
 273: 30,
 274: 18,
 275: 31,
 276: 21,
 277: 4,
 278: 6,
 279: 7,
 280: 8,
 281: 9,
 282: 10,
 283: 11,
 284: 13,
 285: 14,
 286: 27,
 287: 22,
 288: 29,
 289: 30,
 290: 32,
 291: 18,
 292: 4,
 293: 21,
 294: 6,
 295: 7,
 296: 8,
 297: 9,
 298: 10,
 299: 11,
 300: 13,
 301: 14,
 302: 27,
 303: 22,
 304: 29,
 305: 33,
 306: 18,
 307: 21,
 308: 6,
 309: 7,
 310: 32,
 311: 8,
 312: 9,
 313: 10,
 314: 11,
 315: 13,
 316: 14,
 317: 27,
 318: 4,
 319: 22,
 320: 29,
 321: 33,
 322: 18,
 323: 21,
 324: 6,
 325: 7,
 326: 32,
 327: 34,
 328: 9,
 329: 10,
 330: 11,
 331: 13,
 332: 14,
 333: 27,
 334: 26,
 335: 22,
 336: 29,
 337: 3,
 338: 1,
 339: 2,
 340: 17,
 341: 4,
 342: 6,
 343: 5,
 344: 7,
 345: 12,
 346: 9,
 347: 10,
 348: 11,
 349: 13,
 350: 14,
 351: 15,
 352: 22,
 353: 35,
 354: 18,
 355: 24,
 356: 36,
 357: 21,
 358: 6,
 359: 32,
 360: 33,
 361: 7,
 362: 34,
 363: 9,
 364: 10,
 365: 11,
 366: 13,
 367: 14,
 368: 27,
 369: 26,
 370: 22,
 371: 29,
 372: 36,
 373: 21,
 374: 6,
 375: 32,
 376: 7,
 377: 37,
 378: 34,
 379: 9,
 380: 10,
 381: 11,
 382: 13,
 383: 14,
 384: 27,
 385: 26,
 386: 22,
 387: 29,
 388: 36,
 389: 21,
 390: 13,
 391: 6,
 392: 37,
 393: 34,
 394: 9,
 395: 10,
 396: 11,
 397: 23,
 398: 14,
 399: 27,
 400: 26,
 401: 32,
 402: 22,
 403: 29,
 404: 36,
 405: 26,
 406: 21,
 407: 6,
 408: 13,
 409: 7,
 410: 37,
 411: 34,
 412: 38,
 413: 10,
 414: 11,
 415: 23,
 416: 14,
 417: 27,
 418: 32,
 419: 29,
 420: 36,
 421: 27,
 422: 21,
 423: 6,
 424: 7,
 425: 37,
 426: 34,
 427: 9,
 428: 20,
 429: 23,
 430: 39,
 431: 14,
 432: 13,
 433: 38,
 434: 30,
 435: 29,
 436: 36,
 437: 30,
 438: 40,
 439: 21,
 440: 41,
 441: 6,
 442: 7,
 443: 37,
 444: 42,
 445: 38,
 446: 10,
 447: 23,
 448: 39,
 449: 14,
 450: 20,
 451: 27,
 452: 36,
 453: 43,
 454: 34,
 455: 21,
 456: 6,
 457: 13,
 458: 37,
 459: 7,
 460: 9,
 461: 10,
 462: 23,
 463: 39,
 464: 14,
 465: 38,
 466: 30,
 467: 30,
 468: 36,
 469: 43,
 470: 21,
 471: 40,
 472: 6,
 473: 37,
 474: 7,
 475: 39,
 476: 38,
 477: 34,
 478: 10,
 479: 23,
 480: 41,
 481: 14,
 482: 44,
 483: 43,
 484: 36,
 485: 25,
 486: 21,
 487: 40,
 488: 6,
 489: 45,
 490: 41,
 491: 9,
 492: 10,
 493: 23,
 494: 39,
 495: 14,
 496: 7,
 497: 44,
 498: 25,
 499: 18,
 500: 30,
 501: 43,
 502: 40,
 503: 6,
 504: 34,
 505: 38,
 506: 10,
 507: 23,
 508: 39,
 509: 21,
 510: 7,
 511: 46,
 512: 25,
 513: 18,
 514: 30,
 515: 43,
 516: 45,
 517: 40,
 518: 6,
 519: 41,
 520: 9,
 521: 10,
 522: 23,
 523: 39,
 524: 14,
 525: 7,
 526: 46,
 527: 25,
 528: 36,
 529: 30,
 530: 43,
 531: 6,
 532: 40,
 533: 45,
 534: 47,
 535: 34,
 536: 38,
 537: 10,
 538: 23,
 539: 39,
 540: 14,
 541: 46,
 542: 7,
 543: 25,
 544: 18,
 545: 30,
 546: 43,
 547: 45,
 548: 6,
 549: 40,
 550: 47,
 551: 41,
 552: 9,
 553: 10,
 554: 23,
 555: 39,
 556: 14,
 557: 46,
 558: 48,
 559: 16,
 560: 18,
 561: 30,
 562: 43,
 563: 45,
 564: 40,
 565: 6,
 566: 47,
 567: 34,
 568: 38,
 569: 20,
 570: 23,
 571: 39,
 572: 14,
 573: 48,
 574: 46,
 575: 16,
 576: 25,
 577: 18,
 578: 30,
 579: 49,
 580: 6,
 581: 40,
 582: 47,
 583: 39,
 584: 34,
 585: 9,
 586: 20,
 587: 23,
 588: 14,
 589: 46,
 590: 25,
 591: 18,
 592: 30,
 593: 45,
 594: 50,
 595: 6,
 596: 47,
 597: 39,
 598: 41,
 599: 38,
 600: 20,
 601: 23,
 602: 14,
 603: 48,
 604: 46,
 605: 25,
 606: 18,
 607: 30,
 608: 49,
 609: 40,
 610: 6,
 611: 47,
 612: 34,
 613: 9,
 614: 39,
 615: 20,
 616: 23,
 617: 14,
 618: 48,
 619: 46,
 620: 25,
 621: 30,
 622: 45,
 623: 6,
 624: 50,
 625: 51,
 626: 38,
 627: 20,
 628: 23,
 629: 14,
 630: 48,
 631: 46,
 632: 30,
 633: 49,
 634: 6,
 635: 39,
 636: 34,
 637: 9,
 638: 20,
 639: 23,
 640: 14,
 641: 48,
 642: 46,
 643: 30,
 644: 45,
 645: 6,
 646: 13,
 647: 39,
 648: 51,
 649: 38,
 650: 10,
 651: 23,
 652: 14,
 653: 52,
 654: 46,
 655: 32,
 656: 30,
 657: 49,
 658: 6,
 659: 39,
 660: 51,
 661: 9,
 662: 20,
 663: 14,
 664: 48,
 665: 46,
 666: 32,
 667: 30,
 668: 45,
 669: 6,
 670: 13,
 671: 39,
 672: 53,
 673: 38,
 674: 20,
 675: 14,
 676: 52,
 677: 46,
 678: 32,
 679: 30,
 680: 6,
 681: 39,
 682: 13,
 683: 54,
 684: 9,
 685: 20,
 686: 48,
 687: 14,
 688: 46,
 689: 32,
 690: 6,
 691: 13,
 692: 55,
 693: 38,
 694: 39,
 695: 20,
 696: 14,
 697: 46,
 698: 32,
 699: 56,
 700: 6,
 701: 13,
 702: 51,
 703: 9,
 704: 39,
 705: 20,
 706: 14,
 707: 46,
 708: 32,
 709: 6,
 710: 39,
 711: 13,
 712: 53,
 713: 38,
 714: 20,
 715: 57,
 716: 14,
 717: 46,
 718: 32,
 719: 6,
 720: 13,
 721: 39,
 722: 55,
 723: 9,
 724: 20,
 725: 14,
 726: 46,
 727: 32,
 728: 56,
 729: 39,
 730: 6,
 731: 13,
 732: 53,
 733: 58,
 734: 20,
 735: 14,
 736: 46,
 737: 56,
 738: 6,
 739: 39,
 740: 13,
 741: 55,
 742: 58,
 743: 20,
 744: 14,
 745: 46,
 746: 25,
 747: 6,
 748: 19,
 749: 39,
 750: 13,
 751: 55,
 752: 9,
 753: 59,
 754: 14,
 755: 60,
 756: 6,
 757: 19,
 758: 39,
 759: 55,
 760: 58,
 761: 61,
 762: 62,
 763: 14,
 764: 63,
 765: 25,
 766: 6,
 767: 39,
 768: 19,
 769: 13,
 770: 55,
 771: 9,
 772: 20,
 773: 59,
 774: 14,
 775: 64,
 776: 25,
 777: 6,
 778: 19,
 779: 53,
 780: 58,
 781: 20,
 782: 65,
 783: 14,
 784: 25,
 785: 6,
 786: 19,
 787: 13,
 788: 55,
 789: 9,
 790: 20,
 791: 14,
 792: 25,
 793: 6,
 794: 19,
 795: 13,
 796: 39,
 797: 58,
 798: 14,
 799: 25,
 800: 19,
 801: 13,
 802: 55,
 803: 9,
 804: 20,
 805: 66,
 806: 14,
 807: 67,
 808: 25,
 809: 19,
 810: 39,
 811: 13,
 812: 55,
 813: 9,
 814: 20,
 815: 66,
 816: 14,
 817: 66,
 818: 19,
 819: 13,
 820: 53,
 821: 9,
 822: 20,
 823: 39,
 824: 14,
 825: 66,
 826: 19,
 827: 13,
 828: 55,
 829: 9,
 830: 20,
 831: 14,
 832: 67,
 833: 9,
 834: 6,
 835: 19,
 836: 66,
 837: 13,
 838: 55,
 839: 14,
 841: 1,
 842: 2,
 843: 17,
 844: 5,
 845: 4,
 846: 6,
 847: 7,
 848: 12,
 849: 9,
 850: 20,
 851: 11,
 852: 13,
 853: 14,
 854: 15,
 855: 22,
 856: 35,
 857: 68,
 858: 24,
 859: 18,
 860: 1,
 861: 2,
 862: 17,
 863: 3,
 864: 4,
 865: 6,
 866: 7,
 867: 12,
 868: 9,
 869: 10,
 870: 11,
 871: 13,
 872: 14,
 873: 15,
 874: 22,
 875: 35,
 876: 68,
 877: 24,
 878: 69,
 879: 18,
 880: 1,
 881: 2,
 882: 17,
 883: 3,
 884: 4,
 885: 6,
 886: 7,
 887: 9,
 888: 20,
 890: 11,
 891: 13,
 892: 14,
 893: 15,
 894: 35,
 895: 22,
 896: 68,
 897: 24,
 898: 69,
 899: 18,
 900: 1,
 901: 2,
 902: 3,
 903: 17,
 904: 4,
 905: 6,
 906: 7,
 907: 70,
 908: 9,
 909: 10,
 910: 11,
 911: 13,
 912: 14,
 913: 15,
 914: 22,
 915: 71,
 916: 69,
 917: 18,
 918: 24,
 931: 6,
 932: 7,
 929: 3,
 930: 4,
 928: 17,
 926: 1,
 927: 2,
 933: 70,
 934: 9,
 936: 11,
 937: 13,
 938: 14,
 939: 15,
 940: 22,
 941: 71,
 942: 69,
 943: 32,
 944: 18,
 945: 24,
 948: 1,
 949: 3,
 950: 17,
 951: 71,
 952: 4,
 953: 6,
 954: 7,
 955: 73,
 956: 70,
 957: 9,
 958: 11,
 959: 10,
 960: 13,
 961: 14,
 962: 15,
 963: 2,
 964: 22,
 965: 69,
 966: 32,
 967: 18,
 968: 24,
 969: 1,
 970: 17,
 971: 3,
 972: 71,
 973: 4,
 974: 6,
 975: 7,
 976: 73,
 977: 70,
 978: 9,
 979: 11,
 980: 13,
 981: 14,
 982: 15,
 983: 2,
 984: 22,
 985: 69,
 986: 32,
 987: 18,
 988: 24,
 989: 1,
 990: 3,
 991: 17,
 992: 73,
 993: 4,
 994: 6,
 995: 7,
 996: 34,
 997: 70,
 998: 9,
 999: 10,
 1000: 11,
 1001: 13,
 1002: 14,
 1003: 15,
 1004: 71,
 1005: 22,
 1006: 69,
 1007: 32,
 1008: 18,
 1009: 24}

## Tabela de Classificação

In [39]:
quali = pd.read_csv('dados/qualifying.csv',encoding = "ISO-8859-1")
quali.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [40]:
## Nesta Dataframe não iremos utilizar as colunas 'constructorId' e 'number' e manteremos as demais

quali = quali.drop(columns=['constructorId','number'])
quali.head()

   qualifyId  raceId  driverId  position        q1        q2        q3
0          1      18         1         1  1:26.572  1:25.187  1:26.714
1          2      18         9         2  1:26.103  1:25.315  1:26.869
2          3      18         5         3  1:25.664  1:25.452  1:27.079
3          4      18        13         4  1:25.994  1:25.691  1:27.178
4          5      18         2         5  1:25.960  1:25.518  1:27.236

# Inserindo os Dados Extraídos na Tabela de Classificação

#### Note que neste Dataframe temos as referências 'raceId' e 'driverId', que iremos preencher com os dados dos respectivos dicionários criados

In [41]:
# Primeiro vamos substituir os dados da coluna 'driverId' pelos dados do dicionário driver que criamos anteriormente

quali['driverId'] = quali['driverId'].replace(driver)
quali.head()

,qualifyId,raceId,driverId,position,q1,q2,q3
0,1,18,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714
1,2,18,Robert Kubica,2,1:26.103,1:25.315,1:26.869
2,3,18,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079
3,4,18,Felipe Massa,4,1:25.994,1:25.691,1:27.178
4,5,18,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236

In [42]:
# Note que no dataframe há apenas uma coluna 'raceId', porém temos dois dicionários relacionados à essa referência.
# Para resolvermos isso temos que duplicar a coluna 'raceId', uma irá receber os dados do ano da corrida e outra irá receber
# o nome do circuito.

quali['circuito'] = quali['raceId']
quali.head()

,qualifyId,raceId,driverId,position,q1,q2,q3,circuito
0,1,18,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714,18
1,2,18,Robert Kubica,2,1:26.103,1:25.315,1:26.869,18
2,3,18,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079,18
3,4,18,Felipe Massa,4,1:25.994,1:25.691,1:27.178,18
4,5,18,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236,18

In [43]:
# Agora podemos fazer a substituição

quali['raceId'] = quali['raceId'].replace(race_year)
quali['circuito'] = quali['circuito'].replace(race_circ)
quali.head()

,qualifyId,raceId,driverId,position,q1,q2,q3,circuito
0,1,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714,1
1,2,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869,1
2,3,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079,1
3,4,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178,1
4,5,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236,1

In [44]:
# Precisamos duplicar também a coluna 'circuito' pois também temos  dois dicionários para cada circuito

quali['pais'] = quali['circuito']
quali.head()

,qualifyId,raceId,driverId,position,q1,q2,q3,circuito,pais
0,1,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714,1,1
1,2,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869,1,1
2,3,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079,1,1
3,4,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178,1,1
4,5,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236,1,1

In [51]:
# Agora podemos fazer a substituição da mesma maneira

quali['circuito'] = quali['circuito'].replace(circ_name)
quali['pais'] = quali['pais'].replace(circ_pais)

quali.head()

,qualifyId,raceId,driverId,position,q1,q2,q3,circuito,pais
0,1,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714,Albert Park Grand Prix Circuit,Australia
1,2,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869,Albert Park Grand Prix Circuit,Australia
2,3,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079,Albert Park Grand Prix Circuit,Australia
3,4,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178,Albert Park Grand Prix Circuit,Australia
4,5,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236,Albert Park Grand Prix Circuit,Australia

In [53]:
# Vamos renomear as colunas
quali = quali.rename(columns={
    "qualifyId":"Quali ID",
    "raceId":"Ano",
    "driverId":"Piloto",
    "position":"Pos",
    "circuito":"Circuito",
    "pais":"País",
    "q1":"Q1",
    "q2":"Q2",
    "q3":"Q3"})
quali.head()

,Quali ID,Ano,Piloto,Pos,Q1,Q2,Q3,Circuito,País
0,1,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714,Albert Park Grand Prix Circuit,Australia
1,2,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869,Albert Park Grand Prix Circuit,Australia
2,3,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079,Albert Park Grand Prix Circuit,Australia
3,4,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178,Albert Park Grand Prix Circuit,Australia
4,5,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236,Albert Park Grand Prix Circuit,Australia

In [54]:
# Agora vamos reorganizar as colunas para ficar mais fácil a visualização

quali = quali.reindex(columns = ['Quali ID','Circuito','País','Ano','Piloto','Pos','Q1','Q2','Q3'])
quali.head()

,Quali ID,Circuito,País,Ano,Piloto,Pos,Q1,Q2,Q3
0,1,Albert Park Grand Prix Circuit,Australia,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714
1,2,Albert Park Grand Prix Circuit,Australia,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869
2,3,Albert Park Grand Prix Circuit,Australia,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079
3,4,Albert Park Grand Prix Circuit,Australia,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178
4,5,Albert Park Grand Prix Circuit,Australia,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236

In [55]:
# Por fim, vamos salvar este dataframe como um arquivo .csv para podermos manipulá-lo novamente no futuro

quali.to_csv('dados/tabela_de_classificacao.csv', sep = ';', index = False)

In [56]:
# Agora vamos ler o arquivo para testar se foi salvo corretamente

q2 = pd.read_csv('dados/tabela_de_classificacao.csv', sep = ';')
q2

,Quali ID,Circuito,País,Ano,Piloto,Pos,Q1,Q2,Q3
0,1,Albert Park Grand Prix Circuit,Australia,2008,Lewis Hamilton,1,1:26.572,1:25.187,1:26.714
1,2,Albert Park Grand Prix Circuit,Australia,2008,Robert Kubica,2,1:26.103,1:25.315,1:26.869
2,3,Albert Park Grand Prix Circuit,Australia,2008,Heikki Kovalainen,3,1:25.664,1:25.452,1:27.079
3,4,Albert Park Grand Prix Circuit,Australia,2008,Felipe Massa,4,1:25.994,1:25.691,1:27.178
4,5,Albert Park Grand Prix Circuit,Australia,2008,Nick Heidfeld,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
7511,7535,Yas Marina Circuit,UAE,2017,Romain Grosjean,16,1:39.516,NaN,NaN
7512,7536,Yas Marina Circuit,UAE,2017,Pierre Gasly,17,1:39.724,NaN,NaN
7513,7537,Yas Marina Circuit,UAE,2017,Pascal Wehrlein,18,1:39.930,NaN,NaN
7514,7538,Yas Marina Circuit,UAE,2017,Marcus Ericsson,19,1:39.994,NaN,NaN
7515,7539,Yas Marina Circuit,UAE,2017,Brendon Hartley,20,1:40.471,NaN,NaN